<h1>Welcome to Ensim Analytics!</h1>
<p class="lead">Vous pouvez importer votre corpus du trace forum ci dessous.<br>Si les données sont bien au format conformes ils seront importées et calculer.</p>
<p class="lead"></p>
<div class="action-box">
    <%= link_to "Upload Trace Forum", new_traceforum_import_path, class: "bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shado" %>
</div>
<br>
<h3 >Resultat Trace Forum</h3>
